
.formError{
  color: red;
}
*{
  margin:0;
  padding:0;
  text-decoration: none;
  @media only screen and (max-width: 650px) {
    max-width:100%;
  }
}
.sideBarContainer{
  display:flex;
  min-height: 100% auto;
  min-height: 100vh ;
  position: relative;  
}
main{
  width: 100%;

}
.sidebar{
  background:black;
  color: #fff;
  min-height: 100% auto;
  min-height:100vh;
  width: 200px;
  position: sticky;
  
  transition: all 0.5s;
   
  @media only screen and (max-width: 800px) {
    display:none;
  }
}
@media only screen and (min-width: 800px) {
  #navbarItems,#previewBtn{
    visibility: hidden;
  }
}
.top_section{
  display: flex;
  align-items:center;
  padding:20px 15px;
}
.logo{
  font-size: 30px;
}
.bars{
  display: flex;
  font-size: 25px;
  margin-left: 50px;
}
.link{
  display: flex;
  color: #fff;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
}
.link:hover{
  background-color:#002060;
  color:white;
  transition: all 0.5s;
}
.active, .info{
  background-color:#002060;
}
.icon, .link_text{
  font-size: 20px;
}

#previewForm{
  font-size:30px;
}